.grid
    display: grid
    width: 400px
    height: 485px
    gap: 32px 28px
    grid-template-columns: auto auto auto
    overflow-y: scroll


.img-icon
    width: 100px
    height: 100px
    object-fit: contain

.container-icon
    border: 1px solid black